body ,html{
    margin: 0;
    padding: 0; 
    text-align: center;

}

body{
    color:white; 
    text-align: center; 
    font-family: 'Unica One', cursive;
    background-color: #AF4319; 

}
form{
    display: inline-block; 
}

#welcome{
    position: relative;
    font-size: 100px; 
    text-align: center; 
    margin: 0 auto; 
}

p{
    text-align: center; 
    position: relative;
}

#index{
    line-height: 5em; 
    position: relative;
    color: white;
    font-size: 20px;
    
}

