<% include ../partials/header.ejs %> 
    
<a href = "/games/new"> Add A New game </a>

<% games.forEach(function(game) {%>

<div>

    <a href="/games/<%= game.id %>/edit">Edit</a> 

    
    <form method="POST" action="/games/<%= game.id %>?_method=DELETE">
        <input type="submit" value="delete"> 
        </form>
    

    <a href = "/games/ <%= game.id %>"> <%= game.name %> </a>

</div>
<% }); %>


<% include ../partials/footer.ejs %> 