<% include ../partials/header.ejs %> 

<form method = "POST" action = "/games">

    <input type = "text" name = name  placeholder = "Game Title..."> <br>
    <input type = "text" name = description placeholder = "Game Description..."><br>
    <input type = "integer" name = players placeholder = "Player Size">

    <input type = "submit">


</form>




<% include ../partials/footer.ejs %>  